<table class="table table-striped">
    <thead>
        <th>task ID</th>
        <th>Titolo Task</th>
        <th>Descrizione Task</th>
        <th>Stato Task</th>
        <th>Azioni</th>
    </thead>
    <tbody>
        <tr *ngFor="let t of elenco">
            <td><a href="/task/visualizza/{{t.id}}">{{t.id}}</a></td>
            <td>{{t.tito}}</td>
            <td>{{t.desc}}</td>
            <td>{{t.stat}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="Elimina(t.id)"> Elimina</button>
            </td>
        </tr>
    </tbody>
</table>